
<!-- <h1>About</h1>
<p><%= HomeContent %></p>  -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Me Profile card || Learning Robo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styleAbout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    
</head>
  <body>
    
    <div class = "about-wrapper">
      <div class = "about-left">
        <div class = "about-left-content">
          <div>
            <div class = "shadow">
              <div class = "about-img">
                <img src = "https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049__340.png" alt = "about image">
              </div>
            </div>

            <h2>Ritu Mahto</h2>
            <h3>Web developer</h3>
          </div>

          <ul class = "icons">
            <li><i class = "fab fa-facebook-f"></i></li>
            <li><i class = "fab fa-twitter"></i></li>
            <li><i class = "fab fa-linkedin"></i></li>
            <li><i class = "fab fa-instagram"></i></li>
          </ul>
        </div>
        
      </div>

      <div class = "about-right">
        <h1>Hello<span style="color: #FFCC00">!</span></h1>
        <h2>Here's who I am & what I do</h2>
        <div class = "about-btns">
          <button type = "button" class = "btn btn-pink" style="background-color: #FFCC00;border: #FFCC00;" >resume / CV</button>
          <button type = "button" class = "btn btn-pink 2"  style="background-color: #FFCC00;border: #FFCC00;"><a href="https://github.com/ritu220">Git Hub</a></button>
        </div>

        <div class = "about-para">
          <p>I am an undergraduate student at Chandigarh university persuing my bachelor's degree in Computer Science and engineering.</p>
          
          <p>"Our website is currently undergoing maintenance and improvements as we strive to deliver a better user experience."

            
            "We are working hard to bring you a new and improved website, please check back soon for its launch." </p>
        </div>
        <div class="credit" style="color:Black">Made with <span style="color:tomato">❤</span> by <a href="https://www.learningrobo.com/">Ritu Mahto</a></div>
      </div>
    </div>

    
  </body>
</html>

<!-- <%- include('partials/footer'); -%> -->
